<div class="py-6 space-x-2">
    <span class="cursor-pointer hover:bg-blue-900 w-10 h-10 items-center justify-center inline-flex rounded-full font-bold text-lg border-2 border-white">f</span>
    <span class="cursor-pointer hover:bg-red-900 w-10 h-10 items-center justify-center inline-flex rounded-full font-bold text-lg border-2 border-white">G+</span>
</div>