<!-- A placeholder redirect page to go to when there are no messages to be displayed -->

<div class="ml-3 sm:ml-9 w-11/12 h-screen">
    <div class="grid grid-cols-3 min-w-full border rounded">
            <div class="col-span-1 bg-white border-r border-gray-300">
                <div class="my-3 mx-3 ">
                    <div class="relative text-gray-600 w-full h-full  focus-within:text-gray-400">
                    </div>
                </div>
                <ul class="overflow-auto">
                    <h2 class="ml-2 mb-2 text-gray-600 text-lg my-2">Chats</h2>
                </ul>
            </div>
            <div class="col-span-2 bg-white">
                <div class="w-full">
                    <div class="flex items-center border-b border-gray-300 pl-3 py-3">
                    </div>
                    <div id="chat" class="w-full overflow-y-auto p-10 relative h-auto" >
                    You have no messages.
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>