<div class="container">
<h1 class="pt-16 text-2xl font-bold antialiased mb-10">About The Wine Auctioneer</h1>

<p>
The Wine Auctioneer is a two-way marketplace website where lovers of dessert wines can congregate and share their passion for dessert wines from around the world.
</p>
</div>