<%# <%= stylesheet_link_tag 'home' %>
<div class="homepage"><br/><br/><br/><br/><br/>
    <h1 class="text-6xl mb-8 font-bold"><i class="fas fa-gavel"></i> The Wine Auctioneer <i class="fas fa-gavel flip"></i></h1>
    <h3 class="mb-auto pt-10 pb-12 font-bold text-2xl">I want to...</h3>
    <%= link_to "Buy Wine", browse_path, class: "bg-red-800 my-auto hover:bg-red-400 p-10 rounded-lg shadow-lg max-w-lg text-white transition ease-in duration-300" %>
    <%= link_to "Sell Wine", listing_new_path, class: "bg-red-800 my-auto hover:bg-red-400 hover:duration-100 p-10 rounded-lg shadow-lg max-w-lg text-white transition ease-in duration-300" %>
</div>