
<br><br><br><br><br><br>
<div class="text-center">
<h1 class="font-green text-6xl text-center mb-8">The Wine Auctioneer</h1>


<h3 class="mb-auto pt-10 pb-12">I want to...</h3>

<%= link_to "Buy Wine", buy_path, class: "bg-red-800 my-auto hover:bg-red-400 text-center p-10 rounded-lg shadow-lg max-w-lg mx-autop text-white" %>
<%= link_to "Sell Wine", sell_path, class: "bg-red-800 my-auto hover:bg-red-400 hover:duration-100 text-center p-10 rounded-lg shadow-lg max-w-lg mx-autop text-white" %>
</div>