<h1 class="ml-10 sm:ml-40 pt-16 text-2xl font-bold antialiased">Search Results</h1>

<%= render "shared/searchbar" %>

<% if @listings.length == 0 %>
    <div class="ml-10 sm:ml-40">Your search returned no results.</div>
<% else %>
    <%= render "shared/searchresults" %>
<% end %>