<div class="container">
<form action="#">
    <h1 class="pt-16 text-2xl font-bold antialiased">Create a Listing</h1><br/><br/>
    
    <label for="listing-title" class="font-bold">Title:</label>
    <input id="listing-title" class="pl-2" type="text" placeholder="Example: Penfolds Grange 2012 750mL">
    <br/><br/>


    <label for="listing-category" class="font-bold">Category:</label>
    <select id="listing-category" class="pl-2">
        <option value=1>Cabernet Merlot</option>
        <option value=2>Cabernet Sauvignon</option>
        <option value=3>Merlot</option>
        <option value=4>Shiraz</option>
        <option value=5>Pinot Noir</option>
        <option value=6>Tempranillo</option>
    </select>
    <br/><br/>

    <label for="listing-region" class="font-bold">Region:</label>
    <select id="listing-region" class="pl-2">
        <option value=1>New South Wales</option>
        <option value=2>South Australia</option>
        <option value=3>Tasmania</option>
        <option value=4>Victoria</option>
        <option value=5>Western Australia</option>
    </select>
    <br/><br/>

    <label for="listing-vintage" class="font-bold">Vintage (Year):</label>
    <input id="listing-vintage" class="pl-2" type="number" placeholder="Example: 2012 ">
    <br/><br/>

    <label for="listing-price" class="font-bold">Price (AUD $):</label>
    <input id="listing-price" class="pl-2" type="number" placeholder="Example: 50">
    <br/><br/>
    
    <label for="listing-image" class="font-bold">Image:</label>
    <input id="listing-image" class="pl-2" type="file" accept="image/*">
    <br/><br/>
    
    <img id="listing-image-preview" src="#">

    <label></label>
    <input type="submit">
</form>
</div>

<script>
// document.getElementById("listing-image-preview").addEventListener("change", loadFile);

//   var loadFile = function(event) {
//     var output = document.getElementById('listing-image-preview');
//     output.src = URL.createObjectURL(event.target.files[0]);
//     output.onload = function() {
//       URL.revokeObjectURL(output.src) // free memory
//     }
//   };
</script>