<form action="#" class="container">
    <label for="listing-title">Title:</label>
    <input id="listing-title" type="text" placeholder="Example: Penfolds Grange 2012 750mL">

    <label for="listing-category">Category:</label>
    <select id="listing-category">
        <option value=1>Cabernet Merlot</option>
        <option value=2>Cabernet Sauvignon</option>
        <option value=3>Merlot</option>
        <option value=4>Shiraz</option>
        <option value=5>Pinot Noir</option>
        <option value=6>Tempranillo</option>
    </select>

    <label for="listing-region">Region:</label>
    <select id="listing-region">
        <option value=1>New South Wales</option>
        <option value=2>South Australia</option>
        <option value=3>Tasmania</option>
        <option value=4>Victoria</option>
        <option value=5>Western Australia</option>
    </select>

    <label for="listing-price">Price:</label>
    <input id="listing-price" type="number" placeholder="Example: 50">
    
    <label></label>
    <input type="submit">
</form>