/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
	background: #ffede7 no-repeat center center fixed;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #00223E, #ffede7) ;  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #66250b 2%,  #ebc8bb 5%, #ffede7 100%) no-repeat center center fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: darkred;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	background-image: url('1-scott-warman-h4AGlo55tTA-unsplash.png');
	background-size: cover;
}


 .flip {
	transform: scale(-1, 1);
 }

 .page-header {
    text-align: center;
    background-color: #444;
    font-family: Arial;
    color: rgb(248, 238, 238);
    box-sizing: border-box;
	padding-bottom: 8px;
	padding-top: 8px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    line-height: 48px;
 }

 .page-header a {
     color: white;
     padding: 0.5em;
 }

 .page-header a:hover {
    color: wheat;
}

.container {
	margin-left: 10rem;
	padding: 2em;
	border-radius: 10%;
	padding-top: 1rem;
}

// input[type="text"], select, input[type="number"], input[type="email"], input[type="password"], textarea {
// 	font-size: 1em;
// 	border-radius: 4px;
// 	height: 2em;
// 	width: 300px;
// 	border: 1px solid white;
// 	color: darkred;
// }

// input[type="text"]:hover, select:hover, input[type="number"]:hover, input[type="email"]:hover, input[type="password"]:hover, input[type="text"]:focus, select:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea:focus, texarea:hover {
//     border: 1px solid red;
// }

// textarea {
// 	height: 100px;
// }

// form label {
// 	display: block;
// 	width: 300px;
// 	padding-top: 0.5em;
// 	padding-bottom: 0.5em;
// 	height:initial;
// }

// input[type="submit"] {
// 	color: white;
// 	background-color: darkred;
// 	border:darkred;
// 	padding: 0.75em;
// 	padding-left: 2em;
// 	padding-right: 2em;
// 	border-radius: 6px;
// }

// input[type="submit"]:hover, input[type="submit"]:focus {
// 	background-color:brown;
// 	cursor: pointer;
// }

.homepage {
	text-align: center;
	height: 100vh;
	width: 100%;
	background-size: cover;
	margin-top: -10rem;
}

.notices {
	margin-top:8rem;
}

body {
	overflow-x: hidden;
}