/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
	background: #ffede7 no-repeat center center fixed;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #00223E, #ffede7) ;  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #66250b 2%,  #ebc8bb 5%, #ffede7 100%) no-repeat center center fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: darkred;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	background-image: url('1-scott-warman-h4AGlo55tTA-unsplash.png');
	background-size: cover;
	overflow-x: hidden;
}

 .flip {
	transform: scale(-1, 1);
 }

 .navbar {
    text-align: center;
    background-color: #444;
    font-family: Arial;
    color: rgb(248, 238, 238);
    box-sizing: border-box;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    line-height: 3em;
 }

 .navbar ul, .navbar li {
	 list-style-type: none;
	 display: inline;
 }

 #navbar-toggle-label, #navbar-toggle-cbox, .burger {
	cursor: pointer;
	display: none;
 }

 .navbar a {
     color: white;
     padding: 0.5em;
 }

 .navbar a:hover {
    color: wheat;
}

.notices {
	margin-top:8rem;
}

body {
	overflow-x: hidden;
}

.container {
	margin-left: 10rem;
	padding: 2em;
	border-radius: 10%;
	padding-top: 1rem;
	width: 100%;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	.container {
		margin-left: 2em;
	}

	.notices {
		margin-top:8rem;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
	.container {
		margin-left: 1em;
		width: 50%;
	}
	.navbar {  width: 100%;  }

	.burger { display: inline; }

	#navbar-toggle-label, .burger {
		cursor: pointer;
		display: inline;
	 }

	// #navbar-toggle-cbox {  display: none;  }

	#navbar-toggle-cbox:checked + ul > li {  display: block;  }

	#navbar-toggle-cbox + ul > li {  display: none;  }

	.dash {  display: none;  }
}


@media only screen and (max-width: 360px) {
	.container {
		margin-left: 0.1em;
		width: 50%;
	}
	.notices {
		margin-top:4rem;
	}
}






