textarea {
	height: 100px;
}

form label {
	display: block;
	width: 300px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	height:initial;
}

input[type="submit"]:hover, input[type="submit"]:focus {
	cursor: pointer;
}

@media only screen and (max-width: 600px) {
	input[type="text"], select, input[type="number"], input[type="email"], input[type="password"], textarea {
        width: 100%;
    }
}