// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

html {
	background: #ffede7 no-repeat center center fixed;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #00223E, #ffede7) ;  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #66250b 2%,  #ebc8bb 5%, #ffede7 100%) no-repeat center center fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: darkred;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
	margin-left: 10rem;
	margin-right: 10rem;
	padding: 2em;
	max-width: 400px;
	border-radius: 10%;
}

input[type="text"], select, input[type="number"] {
	font-size: 1em;
	border-radius: 4px;
	height: 2em;
	width: 300px;
	border-style: none;
	color: darkred;
}

form label {
	margin-top: 2rem;
	display: block;
	width: 300px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	height:initial;
}

input[type="submit"] {
	color: white;
	background-color: darkred;
	border:darkred;
	padding: 0.75em;
	padding-left: 2em;
	padding-right: 2em;
	border-radius: 6px;
}

input[type="submit"]:hover, input[type="submit"]:focus {
	background-color:brown;
	cursor: pointer;
}