
<h1 class="ml-10 sm:ml-40 pt-16 text-2xl font-bold antialiased">Order Summary</h1>
<section class="ml-10 sm:ml-40">
    <% @cartlistings.each do |cartlisting| %>
        <%= cartlisting.listing %><br />
    <% end %>
</section>